Repository pascaliske/form-elements: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project src/tsconfig.app.json --fix, prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(storybook): set base font size for alle elements
  .storybook/preview-head.html
Due: none

style: format code with prettier
  projects/form-elements/src/lib/main.scss
  src/index.html
Due: prettier --write

feat(f-input): add stories for f-input
  projects/form-elements/src/lib/f-input/f-input.component.html
  projects/form-elements/src/lib/f-input/f-input.component.ts
  projects/form-elements/src/lib/f-input/f-input.readme.md
  projects/form-elements/src/lib/f-input/f-input.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

feat(form-elements): upgrade font awesome to v5
  package.json
  projects/form-elements/src/lib/f-button/f-button.component.html
  projects/form-elements/src/lib/f-button/f-button.component.ts
  projects/form-elements/src/lib/f-error/f-error.component.html
  projects/form-elements/src/lib/f-error/f-error.component.scss
  projects/form-elements/src/lib/f-error/f-error.component.ts
  projects/form-elements/src/lib/f-explanation/f-explanation.component.html
  projects/form-elements/src/lib/f-explanation/f-explanation.component.scss
  projects/form-elements/src/lib/f-explanation/f-explanation.component.ts
  projects/form-elements/src/lib/f-icon/f-icon.component.html
  projects/form-elements/src/lib/f-icon/f-icon.component.ts
  projects/form-elements/src/lib/f-password/f-password.component.html
  projects/form-elements/src/lib/f-password/f-password.component.ts
  projects/form-elements/src/lib/f-select/f-select.component.html
  projects/form-elements/src/lib/f-select/f-select.component.ts
  projects/form-elements/src/lib/form-elements.module.ts
  src/app/app.component.html
  src/app/app.component.ts
  yarn.lock
Due: tslint --project src/tsconfig.app.json --fix, prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(storybook): update storybook setup
  .storybook/webpack.config.ts
  package.json
  yarn.lock
Due: none

refactor(styles): update scss bundling for style distribution
  package.json
  projects/form-elements/src/lib/f-button/f-button.component.scss
  projects/form-elements/src/lib/f-checkbox/f-checkbox.component.scss
  projects/form-elements/src/lib/f-column/f-column.component.scss
  projects/form-elements/src/lib/f-date/f-date.component.scss
  projects/form-elements/src/lib/f-email/f-email.component.scss
  projects/form-elements/src/lib/f-error/f-error.component.scss
  projects/form-elements/src/lib/f-explanation/f-explanation.component.scss
  projects/form-elements/src/lib/f-icon/f-icon.component.scss
  projects/form-elements/src/lib/f-input/f-input.component.scss
  projects/form-elements/src/lib/f-password/f-password.component.scss
  projects/form-elements/src/lib/f-phone/f-phone.component.scss
  projects/form-elements/src/lib/f-radiobutton/f-radiobutton.component.scss
  projects/form-elements/src/lib/f-row/f-row.component.scss
  projects/form-elements/src/lib/f-select/f-select.component.scss
  projects/form-elements/src/lib/f-text-area/f-text-area.component.scss
  projects/form-elements/src/lib/main.scss
  src/app/app.component.scss
  src/app/app.component.ts
Due: tslint --project src/tsconfig.app.json --fix, prettier --write

chore(storybook): update storybook to latest v5
  .storybook/addons.js
  .storybook/config.js
  .storybook/webpack.config.ts
  package.json
  yarn.lock
Due: none

fix(styles): update main styles
  projects/form-elements/src/lib/main.scss
  projects/form-elements/src/lib/shared.scss
Due: prettier --write

fix(f-text-area): move styles into shared mixins
  projects/form-elements/src/lib/f-text-area/f-text-area.component.scss
  projects/form-elements/src/lib/shared.scss
Due: prettier --write

chore(angular): install @pascaliske/schematics collection
  angular.json
  package.json
  yarn.lock
Due: none

fix(exports): fix exports of components
  projects/form-elements/src/exports.ts
  projects/form-elements/src/lib/form-elements.module.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(f-icon): remove f-icon and use fa-icon directly
  projects/form-elements/src/exports.ts
  projects/form-elements/src/lib/f-icon/f-icon.component.html
  projects/form-elements/src/lib/f-icon/f-icon.component.scss
  projects/form-elements/src/lib/f-icon/f-icon.component.ts
  projects/form-elements/src/lib/form-elements.module.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

refactor(form-elements): sort component imports alphabetically
  projects/form-elements/src/lib/form-elements.module.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(vscode): remove deprecated tslint setting
  form-elements.code-workspace
Due: none

fix(styles): remove legacy import
  projects/form-elements/src/lib/main.scss
Due: prettier --write

chore(storybook): use typescript for config files
  .storybook/addons.ts
  .storybook/config.ts
  .storybook/tsconfig.json
Due: none

feat(f-button): add stories for f-button component and optimize styles
  projects/form-elements/src/lib/f-button/f-button.component.scss
  projects/form-elements/src/lib/f-button/f-button.component.ts
  projects/form-elements/src/lib/f-button/f-button.readme.md
  projects/form-elements/src/lib/f-button/f-button.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(package): update storybook dependencies
  package.json
  yarn.lock
Due: none

chore(vscode): remove folder from workspace config
  form-elements.code-workspace
Due: none

chore(package): update lockfile
  yarn.lock
Due: none

chore(package): upgrade dependencies
  package.json
  yarn.lock
Due: none

chore(storybook): patch storybook for easier module imports
  package.json
  storybook-patch.ts
Due: none

feat(f-checkbox): add stories for f-checkbox component and optimize styles
  projects/form-elements/src/lib/f-checkbox/f-checkbox.component.html
  projects/form-elements/src/lib/f-checkbox/f-checkbox.component.scss
  projects/form-elements/src/lib/f-checkbox/f-checkbox.readme.md
  projects/form-elements/src/lib/f-checkbox/f-checkbox.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

feat(f-date): add stories for f-date component and optimize styles
  projects/form-elements/src/lib/f-date/f-date.component.scss
  projects/form-elements/src/lib/f-date/f-date.component.ts
  projects/form-elements/src/lib/f-date/f-date.readme.md
  projects/form-elements/src/lib/f-date/f-date.stories.ts
  projects/form-elements/src/lib/main.scss
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(storybook): fix storybook theme
  .storybook/config.ts
  .storybook/preview-head.html
  .storybook/theme.ts
Due: none

fix(f-button,f-checkbox,f-date): fix story hierachy separator
  projects/form-elements/src/lib/f-button/f-button.stories.ts
  projects/form-elements/src/lib/f-checkbox/f-checkbox.stories.ts
  projects/form-elements/src/lib/f-date/f-date.component.html
  projects/form-elements/src/lib/f-date/f-date.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

feat(f-password): add stories for f-password component and optimize styles
  projects/form-elements/src/lib/f-password/f-password.component.html
  projects/form-elements/src/lib/f-password/f-password.readme.md
  projects/form-elements/src/lib/f-password/f-password.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

feat(f-text-area): add stories for f-text-area component and optimize styles
  projects/form-elements/src/lib/f-text-area/f-text-area.component.html
  projects/form-elements/src/lib/f-text-area/f-text-area.readme.md
  projects/form-elements/src/lib/f-text-area/f-text-area.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

feat(f-select): add stories for f-select component and optimize styles
  projects/form-elements/src/lib/f-select/f-select.component.html
  projects/form-elements/src/lib/f-select/f-select.component.ts
  projects/form-elements/src/lib/f-select/f-select.readme.md
  projects/form-elements/src/lib/f-select/f-select.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(package): add storybook knob typings
  package.json
  yarn.lock
Due: none

feat(f-phone): add stories for f-phone component and optimize styles
  projects/form-elements/src/lib/f-phone/f-phone.component.html
  projects/form-elements/src/lib/f-phone/f-phone.readme.md
  projects/form-elements/src/lib/f-phone/f-phone.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

feat(f-email): add stories for f-email component and optimize styles
  projects/form-elements/src/lib/f-email/f-email.component.html
  projects/form-elements/src/lib/f-email/f-email.component.scss
  projects/form-elements/src/lib/f-email/f-email.component.ts
  projects/form-elements/src/lib/f-email/f-email.readme.md
  projects/form-elements/src/lib/f-email/f-email.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

feat(f-column): add stories for f-column component and optimize styles
  projects/form-elements/src/lib/f-column/f-column.readme.md
  projects/form-elements/src/lib/f-column/f-column.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

feat(f-row): add stories for f-row component and optimize styles
  projects/form-elements/src/lib/f-row/f-row.readme.md
  projects/form-elements/src/lib/f-row/f-row.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(f-input): fix f-input stories
  projects/form-elements/src/lib/f-input/f-input.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(styles): fix global form field styles
  projects/form-elements/src/lib/shared.scss
Due: prettier --write

feat(f-radiobutton): add stories for f-radiobutton component and optimize styles
  projects/form-elements/src/lib/f-radiobutton/f-radiobutton.component.html
  projects/form-elements/src/lib/f-radiobutton/f-radiobutton.readme.md
  projects/form-elements/src/lib/f-radiobutton/f-radiobutton.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

style(f-error,f-explanation): format code
  projects/form-elements/src/lib/f-error/f-error.component.html
  projects/form-elements/src/lib/f-explanation/f-explanation.component.html
Due: prettier --write

fix(demo): update demo app
  angular.json
  src/app/app.component.html
  src/app/app.component.ts
  src/polyfills.ts
  src/scss/styles.scss
Due: tslint --project src/tsconfig.app.json --fix, prettier --write

chore(package): downgrade core-js
  package.json
  yarn.lock
Due: none

Path conditions:
  tslint --project src/tsconfig.app.json --fix: any of: src/**/*.ts
  prettier --write: ((any of: src/**/*.ts) or (any of: projects/**/*.ts)) or (any of: {src,projects}/**/*.{scss,md,html})
  tslint --project projects/form-elements/tsconfig.lib.json --fix: any of: projects/**/*.ts
