Repository pascaliske/form-elements: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project src/tsconfig.app.json --fix, prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

.lintstagedrc:

{
  "src/**/*.ts": [
    "tslint --project src/tsconfig.app.json --fix",
    "prettier --write",
    "git add"
  ],
  "projects/**/*.ts": [
    "tslint --project projects/form-elements/tsconfig.lib.json --fix",
    "prettier --write",
    "git add"
  ],
  "{src,projects}/**/*.{scss,md,html}": [
    "prettier --write",
    "git add"
  ]
}

chore(github): skip auto assign for dependabot pull requests
  .github/auto_assign.yml
Due: none

style(form-elements): add module type to for root method return type
  projects/form-elements/src/lib/form-elements.module.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(package): upgrade dependencies
  package.json
  yarn.lock
Due: none

fix(f-button): fix icon prop knob for button stories
  projects/form-elements/src/lib/f-button/f-button.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(storybook): add patchfile for fixing storybook bug
  package.json
  storybook-patch.js
Due: none

chore(github): re-add auto assign for dependabot pull requests
  .github/auto_assign.yml
Due: none

chore(dependabot): force dependabot config
  .dependabot/config.yml
Due: none

chore(package): remove deprecated greenkeeper config
  package.json
Due: none

docs: add homepage url and update usage code snippet
  .storybook/config.ts
  .storybook/theme.ts
  README.md
  package.json
  projects/form-elements/package.json
Due: none

chore(package): update storybook to newly released beta
  package.json
  storybook-patch.js
  yarn.lock
Due: none

Release v2.3.0
  CHANGELOG.md
  docs/iframe.html
  docs/index.html
  docs/main.45fb69076429d2749420.bundle.js
  docs/main.5424a3b67e8be1d61392.bundle.js
  docs/main.5424a3b67e8be1d61392.bundle.js.map
  docs/main.838070984b4de13a5468.bundle.js
  docs/main.838070984b4de13a5468.bundle.js.map
  docs/main.da11a96cbbcdd2a1087d.bundle.js
  docs/runtime~main.17da544d0ef88cbabfaf.bundle.js
  docs/runtime~main.5424a3b67e8be1d61392.bundle.js.map
  docs/runtime~main.838070984b4de13a5468.bundle.js
  docs/runtime~main.838070984b4de13a5468.bundle.js.map
  docs/sb_dll/storybook_ui-manifest.json
  docs/sb_dll/storybook_ui_dll.LICENCE
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.1a3ad3edf62650640be1.bundle.js
  docs/vendors~main.5424a3b67e8be1d61392.bundle.js
  docs/vendors~main.5424a3b67e8be1d61392.bundle.js.map
  docs/vendors~main.6198e5947e72d3f9b67f.bundle.js
  docs/vendors~main.838070984b4de13a5468.bundle.js
  docs/vendors~main.838070984b4de13a5468.bundle.js.map
  package.json
  projects/form-elements/package.json
Due: none

chore(styles): upgrade config of scss-bundle for new major release
  package.json
  scss-bundle.config.json
Due: none

chore(package): remove peer dependency on deprecated angular http package
  projects/form-elements/package.json
Due: none

refactor: optimize generated scss output
  projects/form-elements/src/lib/main.scss
Due: prettier --write

feat(scss): inherit color of input, textarea and select
  projects/form-elements/src/lib/main.scss
Due: prettier --write

chore(package): remove type packages for storybook addons
  package.json
  yarn.lock
Due: none

refactor: fix storybook deprecations
  .storybook/addons.ts
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.ts
  .storybook/webpack.config.ts
  package.json
  projects/form-elements/src/lib/f-button/f-button.stories.ts
  projects/form-elements/src/lib/f-checkbox/f-checkbox.stories.ts
  projects/form-elements/src/lib/f-column/f-column.stories.ts
  projects/form-elements/src/lib/f-date/f-date.stories.ts
  projects/form-elements/src/lib/f-email/f-email.stories.ts
  projects/form-elements/src/lib/f-form/f-form.stories.ts
  projects/form-elements/src/lib/f-input/f-input.stories.ts
  projects/form-elements/src/lib/f-password/f-password.stories.ts
  projects/form-elements/src/lib/f-phone/f-phone.stories.ts
  projects/form-elements/src/lib/f-radiobutton/f-radiobutton.stories.ts
  projects/form-elements/src/lib/f-row/f-row.stories.ts
  projects/form-elements/src/lib/f-select/f-select.stories.ts
  projects/form-elements/src/lib/f-text-area/f-text-area.stories.ts
  yarn.lock
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

feat(f-date): accept inputs for customizing the datepicker options
  projects/form-elements/src/lib/f-date/f-date.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

feat(f-time): add new time input component
  projects/form-elements/src/exports.ts
  projects/form-elements/src/lib/f-time/f-time.component.html
  projects/form-elements/src/lib/f-time/f-time.component.scss
  projects/form-elements/src/lib/f-time/f-time.component.ts
  projects/form-elements/src/lib/f-time/f-time.readme.md
  projects/form-elements/src/lib/f-time/f-time.stories.ts
  projects/form-elements/src/lib/form-elements.module.ts
  projects/form-elements/src/lib/main.scss
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(scss): use transparent background as default value for all inputs
  projects/form-elements/src/lib/main.scss
Due: prettier --write

refactor(f-button): use new component story format of storybook
  projects/form-elements/src/lib/f-button/f-button.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

refactor: use new component story format of storybook
  projects/form-elements/src/lib/f-checkbox/f-checkbox.stories.ts
  projects/form-elements/src/lib/f-column/f-column.stories.ts
  projects/form-elements/src/lib/f-date/f-date.stories.ts
  projects/form-elements/src/lib/f-email/f-email.stories.ts
  projects/form-elements/src/lib/f-form/f-form.stories.ts
  projects/form-elements/src/lib/f-input/f-input.stories.ts
  projects/form-elements/src/lib/f-password/f-password.stories.ts
  projects/form-elements/src/lib/f-phone/f-phone.stories.ts
  projects/form-elements/src/lib/f-radiobutton/f-radiobutton.stories.ts
  projects/form-elements/src/lib/f-row/f-row.stories.ts
  projects/form-elements/src/lib/f-select/f-select.stories.ts
  projects/form-elements/src/lib/f-text-area/f-text-area.stories.ts
  projects/form-elements/src/lib/f-time/f-time.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore: use bump-cli for easier version changes
  package.json
  yarn.lock
Due: none

chore: release v2.4.0
  CHANGELOG.md
  docs/favicon.ico
  docs/iframe.html
  docs/index.html
  docs/main.5f2c9ab36e45918753ba.bundle.js
  docs/main.838070984b4de13a5468.bundle.js
  docs/main.838070984b4de13a5468.bundle.js.map
  docs/main.d9fc688899c1fc2ee3f8.bundle.js
  docs/main.d9fc688899c1fc2ee3f8.bundle.js.map
  docs/main.da11a96cbbcdd2a1087d.bundle.js
  docs/runtime~main.17da544d0ef88cbabfaf.bundle.js
  docs/runtime~main.6b70b35614cf83eab770.bundle.js
  docs/runtime~main.838070984b4de13a5468.bundle.js
  docs/runtime~main.838070984b4de13a5468.bundle.js.map
  docs/runtime~main.d9fc688899c1fc2ee3f8.bundle.js
  docs/runtime~main.d9fc688899c1fc2ee3f8.bundle.js.map
  docs/sb_dll/storybook_ui-manifest.json
  docs/sb_dll/storybook_ui_dll.LICENCE
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.6198e5947e72d3f9b67f.bundle.js
  docs/vendors~main.838070984b4de13a5468.bundle.js
  docs/vendors~main.838070984b4de13a5468.bundle.js.map
  docs/vendors~main.c1f9827acf8f38371947.bundle.js
  docs/vendors~main.d9fc688899c1fc2ee3f8.bundle.js
  docs/vendors~main.d9fc688899c1fc2ee3f8.bundle.js.LICENSE
  docs/vendors~main.d9fc688899c1fc2ee3f8.bundle.js.map
  package.json
  projects/form-elements/package.json
Due: none

chore(ci): use newer node version and update npm api key
  .travis.yml
Due: none

chore: release v2.4.1
  CHANGELOG.md
  docs/iframe.html
  docs/index.html
  docs/main.1c7a96c38b9a7c226e01.bundle.js
  docs/main.1e866bade7c6958038b1.bundle.js
  docs/main.1e866bade7c6958038b1.bundle.js.map
  docs/main.d9fc688899c1fc2ee3f8.bundle.js.map
  docs/runtime~main.1e866bade7c6958038b1.bundle.js
  docs/runtime~main.1e866bade7c6958038b1.bundle.js.map
  docs/runtime~main.d9fc688899c1fc2ee3f8.bundle.js.map
  docs/vendors~main.1e866bade7c6958038b1.bundle.js
  docs/vendors~main.1e866bade7c6958038b1.bundle.js.LICENSE
  docs/vendors~main.1e866bade7c6958038b1.bundle.js.map
  docs/vendors~main.d9fc688899c1fc2ee3f8.bundle.js.map
  package.json
  projects/form-elements/package.json
Due: none

chore(ci): rename travis api key to api token
  .travis.yml
Due: none

chore: release v2.4.2
  CHANGELOG.md
  docs/index.html
  docs/main.a0a7b662282b05a3bc70.bundle.js
  package.json
  projects/form-elements/package.json
Due: none

chore(ci): fix travis api key
  .travis.yml
Due: none

chore: release v2.4.3
  CHANGELOG.md
  docs/index.html
  docs/main.a66acdd522fab78a633d.bundle.js
  package.json
  projects/form-elements/package.json
Due: none

chore(package): remove unnecessary command argument
  package.json
Due: none

chore: release v2.4.4
  CHANGELOG.md
  docs/index.html
  docs/main.19c2e0b1cbc6559b0b25.bundle.js
  package.json
  projects/form-elements/package.json
Due: none

chore(package): regenerate lockfile
  yarn.lock
Due: none

chore: upgrade angular to v9
  angular.json
  package.json
  projects/form-elements/tsconfig.lib.json
  projects/form-elements/tsconfig.lib.prod.json
  tsconfig.app.json
  yarn.lock
Due: none

chore: upgrade angular peer dependencies
  projects/form-elements/package.json
Due: none
