Repository pascaliske/form-elements: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project src/tsconfig.app.json --fix, prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(f-date): import flatpickr styles globally
  projects/form-elements/src/lib/f-date/f-date.component.scss
  projects/form-elements/src/lib/f-date/f-date.stories.ts
  projects/form-elements/src/lib/main.scss
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(tslint): use array format of arrays
  projects/form-elements/src/lib/f-email/f-email.component.ts
  projects/form-elements/src/lib/f-error/f-error.component.ts
  projects/form-elements/src/lib/f-explanation/f-explanation.component.ts
  projects/form-elements/src/lib/f-input/f-input.component.ts
  projects/form-elements/src/lib/f-radiobutton/f-radiobutton.component.ts
  projects/form-elements/src/lib/f-select/f-select.component.ts
  projects/form-elements/src/lib/options.ts
  projects/form-elements/tslint.json
  tslint.json
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(package): upgrade dependencies
  package.json
  yarn.lock
Due: none

refactor: move dependencies to peer dependencies
  .storybook/config.ts
  package.json
  projects/form-elements/ng-package.json
  projects/form-elements/ng-package.prod.json
  projects/form-elements/package.json
  projects/form-elements/src/lib/main.scss
Due: prettier --write

chore(vscode): exlude docs folder in search
  form-elements.code-workspace
Due: none

fix(f-date): fix condition for disabling date picker
  projects/form-elements/src/lib/f-date/f-date.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

Release v2.0.0
  CHANGELOG.md
  docs/favicon.ico
  docs/iframe.html
  docs/index.html
  docs/main.45fb69076429d2749420.bundle.js
  docs/main.fda2f7ca06d81bbde484.bundle.js
  docs/main.fda2f7ca06d81bbde484.bundle.js.map
  docs/runtime~main.c3f848a96c5fd6d0c1b8.bundle.js
  docs/runtime~main.fda2f7ca06d81bbde484.bundle.js
  docs/runtime~main.fda2f7ca06d81bbde484.bundle.js.map
  docs/sb_dll/storybook_ui-manifest.json
  docs/sb_dll/storybook_ui_dll.LICENCE
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.37d4f6838861ec66ff9a.bundle.js
  docs/vendors~main.fda2f7ca06d81bbde484.bundle.js
  docs/vendors~main.fda2f7ca06d81bbde484.bundle.js.map
  package.json
  projects/form-elements/package.json
Due: none

chore(package): use flexible version of flatpickr
  projects/form-elements/package.json
Due: none

chore(git): ignore envrc file
  .gitignore
Due: none

feat(f-form): add general form component for wrapping form elements and handling submit events
  README.md
  projects/form-elements/src/lib/f-form/f-form.component.html
  projects/form-elements/src/lib/f-form/f-form.component.scss
  projects/form-elements/src/lib/f-form/f-form.component.ts
  projects/form-elements/src/lib/f-form/f-form.readme.md
  projects/form-elements/src/lib/f-form/f-form.stories.ts
  projects/form-elements/src/lib/form-elements.module.ts
  src/app/app.component.html
  src/app/app.component.ts
Due: tslint --project src/tsconfig.app.json --fix, prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(greenkeeper): ignore core-js and zone.js
  package.json
Due: none

Release v2.1.0
  CHANGELOG.md
  docs/iframe.html
  docs/index.html
  docs/main.e498cce6145459d63615.bundle.js
  docs/main.e498cce6145459d63615.bundle.js.map
  docs/main.fda2f7ca06d81bbde484.bundle.js
  docs/main.fda2f7ca06d81bbde484.bundle.js.map
  docs/runtime~main.e498cce6145459d63615.bundle.js
  docs/runtime~main.e498cce6145459d63615.bundle.js.map
  docs/runtime~main.fda2f7ca06d81bbde484.bundle.js.map
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.37d4f6838861ec66ff9a.bundle.js
  docs/vendors~main.72909435e0645a9bd391.bundle.js
  docs/vendors~main.e498cce6145459d63615.bundle.js
  docs/vendors~main.e498cce6145459d63615.bundle.js.map
  docs/vendors~main.fda2f7ca06d81bbde484.bundle.js
  docs/vendors~main.fda2f7ca06d81bbde484.bundle.js.map
  package.json
  projects/form-elements/package.json
Due: none

chore(package): update lockfile
  yarn.lock
Due: none

fix(f-button): fix background color of submit buttons
  projects/form-elements/src/lib/main.scss
Due: prettier --write

fix(f-error): initialize input with empty validation messages array
  projects/form-elements/src/lib/f-error/f-error.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

feat(f-form): allow direct sending of data on form submit
  projects/form-elements/src/lib/f-checkbox/f-checkbox.component.ts
  projects/form-elements/src/lib/f-date/f-date.component.ts
  projects/form-elements/src/lib/f-email/f-email.component.html
  projects/form-elements/src/lib/f-email/f-email.component.ts
  projects/form-elements/src/lib/f-form/f-form.component.html
  projects/form-elements/src/lib/f-form/f-form.component.ts
  projects/form-elements/src/lib/f-form/f-form.readme.md
  projects/form-elements/src/lib/f-form/f-form.stories.ts
  projects/form-elements/src/lib/f-password/f-password.component.ts
  projects/form-elements/src/lib/f-phone/f-phone.component.ts
  projects/form-elements/src/lib/f-radiobutton/f-radiobutton.component.ts
  projects/form-elements/src/lib/f-select/f-select.component.ts
  projects/form-elements/src/lib/f-text-area/f-text-area.component.ts
  projects/form-elements/src/lib/form-elements.module.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(ng-packagr): define global name for html-helpers library
  projects/form-elements/ng-package.json
  projects/form-elements/ng-package.prod.json
Due: none

Release v2.2.0
  CHANGELOG.md
  docs/iframe.html
  docs/index.html
  docs/main.03c1e6f9fcf854a4145f.bundle.js
  docs/main.45fb69076429d2749420.bundle.js
  docs/main.e0368911b7c73dc20436.bundle.js
  docs/main.e0368911b7c73dc20436.bundle.js.map
  docs/main.e498cce6145459d63615.bundle.js
  docs/main.e498cce6145459d63615.bundle.js.map
  docs/runtime~main.e0368911b7c73dc20436.bundle.js
  docs/runtime~main.e0368911b7c73dc20436.bundle.js.map
  docs/runtime~main.e498cce6145459d63615.bundle.js.map
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.72909435e0645a9bd391.bundle.js
  docs/vendors~main.8821b2177298a7f3f04c.bundle.js
  docs/vendors~main.e0368911b7c73dc20436.bundle.js
  docs/vendors~main.e0368911b7c73dc20436.bundle.js.map
  docs/vendors~main.e498cce6145459d63615.bundle.js
  docs/vendors~main.e498cce6145459d63615.bundle.js.map
  package.json
  projects/form-elements/package.json
Due: none

fix(f-form): allow custom classes with form wrapper
  projects/form-elements/src/lib/f-form/f-form.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

Release v2.2.1
  CHANGELOG.md
  docs/iframe.html
  docs/index.html
  docs/main.03c1e6f9fcf854a4145f.bundle.js
  docs/main.45fb69076429d2749420.bundle.js
  docs/main.5424a3b67e8be1d61392.bundle.js
  docs/main.5424a3b67e8be1d61392.bundle.js.map
  docs/main.e0368911b7c73dc20436.bundle.js
  docs/main.e0368911b7c73dc20436.bundle.js.map
  docs/runtime~main.5424a3b67e8be1d61392.bundle.js
  docs/runtime~main.5424a3b67e8be1d61392.bundle.js.map
  docs/runtime~main.e0368911b7c73dc20436.bundle.js.map
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.1a3ad3edf62650640be1.bundle.js
  docs/vendors~main.5424a3b67e8be1d61392.bundle.js
  docs/vendors~main.5424a3b67e8be1d61392.bundle.js.map
  docs/vendors~main.8821b2177298a7f3f04c.bundle.js
  docs/vendors~main.e0368911b7c73dc20436.bundle.js.map
  package.json
  projects/form-elements/package.json
Due: none

fix(f-form): prevent default browser submit event
  projects/form-elements/src/lib/f-form/f-form.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(scss): reset outline on input fields only
  projects/form-elements/src/lib/main.scss
Due: prettier --write

chore(ci): switch from greenkeeper to dependabot
  .travis.yml
  README.md
  greenkeeper.json
Due: none

chore(ci): switch from greenkeeper to dependabot
  .travis.yml
Due: none

feat: compatibility update for angular v8
  .browserslistrc
  angular.json
  package.json
  projects/form-elements/package.json
  projects/form-elements/src/lib/f-date/f-date.component.ts
  src/app/app.component.html
  src/browserslist
  src/tslint.json
  storybook-patch.js
  tsconfig.app.json
  tsconfig.json
  tslint.json
  yarn.lock
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(storybook): remove component declaration patch
  package.json
  storybook-patch.js
Due: none

feat(storybook): update storybook
  .storybook/tsconfig.json
  .storybook/webpack.config.ts
  package.json
  yarn.lock
Due: none

chore(package): re-add missing depedency
  package.json
  yarn.lock
Due: none

fix(f-button): fix icon prop knob for button stories
  projects/form-elements/src/lib/f-button/f-button.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(angular): remove deprecated build flag
  angular.json
Due: none

Path conditions:
  tslint --project src/tsconfig.app.json --fix: any of: src/**/*.ts
  prettier --write: ((any of: src/**/*.ts) or (any of: projects/**/*.ts)) or (any of: {src,projects}/**/*.{scss,md,html})
  tslint --project projects/form-elements/tsconfig.lib.json --fix: any of: projects/**/*.ts
