Repository pascaliske/form-elements: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project src/tsconfig.app.json --fix, prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(package): upgrade husky to v6
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package.json
  yarn.lock
Due: none

chore(package): upgrade angular dependencies
  angular.json
  package.json
  projects/form-elements/package.json
  projects/form-elements/tsconfig.lib.json
  projects/form-elements/tsconfig.lib.prod.json
  yarn.lock
Due: none

chore(package): upgrade dependencies
  package.json
  yarn.lock
Due: none

chore(ci): switch from travis ci to github actions
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .travis.yml
  README.md
Due: none

chore: release v3.0.0
  CHANGELOG.md
  package.json
  projects/form-elements/package.json
Due: none

chore(deps): bump handlebars from 4.7.6 to 4.7.7
  yarn.lock
Due: none

chore(deps): bump url-parse from 1.4.7 to 1.5.1
  yarn.lock
Due: none

chore(deps): bump hosted-git-info from 2.8.8 to 2.8.9
  yarn.lock
Due: none

chore(package): use newer version bump cli
  package.json
  yarn.lock
Due: none

chore(package): upgrade dependencies
  package.json
  projects/form-elements/ng-package.json
  projects/form-elements/ng-package.prod.json
  projects/form-elements/package.json
  projects/form-elements/src/lib/f-date/f-date.component.ts
  projects/form-elements/src/lib/f-error/f-error.component.ts
  projects/form-elements/src/lib/f-explanation/f-explanation.component.ts
  projects/form-elements/src/lib/f-form/f-form.component.ts
  projects/form-elements/src/lib/f-input/f-input.component.ts
  projects/form-elements/src/lib/f-select/f-select.component.ts
  projects/form-elements/src/lib/f-time/f-time.component.ts
  yarn.lock
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore: release v3.0.1
  CHANGELOG.md
  package.json
  projects/form-elements/package.json
Due: none

chore: close develop branch
  .github/dependabot.yml
Due: none

chore(package): upgrade dependencies
  .husky/.gitignore
  .lintstagedrc
  .lintstagedrc.json
  package.json
  yarn.lock
Due: none

chore(github): upgrade node version to v16
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

chore(github): enable dependabot for github actions
  .github/dependabot.yml
Due: none

chore(github): ignore angular dependencies on dependabot
  .github/dependabot.yml
Due: none

chore(github): enable auto merge of dependabot prs
  .github/workflows/auto-merge.yml
  .github/workflows/test.yml
  README.md
Due: none

chore: upgrade to angular v13
  package.json
  projects/form-elements/src/lib/form-elements.module.ts
  yarn.lock
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(angular): remove invalid lint config
  angular.json
Due: none

chore(package): remove explicit target from lint command
  package.json
Due: none

chore(ng-packagr): remove invalid configuration entries
  projects/form-elements/ng-package.json
  projects/form-elements/ng-package.prod.json
Due: none

fix(f-error): use type-only import for validation type
  projects/form-elements/src/lib/f-error/f-error.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(entrypoint): add missing export for f-form component
  projects/form-elements/src/exports.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(github): create github release entries from changelog
  .github/workflows/publish.yml
Due: none

chore(github): use ref name from github context
  .github/workflows/publish.yml
Due: none

feat: enable partial compilation mode using ivy
  projects/form-elements/tsconfig.lib.prod.json
Due: none

chore(github): remove prefix for github ref name
  .github/workflows/publish.yml
Due: none

chore(package): upgrade angular to latest version
  package.json
  yarn.lock
Due: none

chore(package): upgrade dependencies
  .gitignore
  angular.json
  package.json
  projects/form-elements/src/lib/f-button/f-button.component.ts
  projects/form-elements/src/lib/f-input/f-input.component.ts
  projects/form-elements/tsconfig.lib.json
  tsconfig.app.json
  tsconfig.base.json
  tsconfig.json
  yarn.lock
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

feat: upgrade storybook to latest version
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/tsconfig.json
  .storybook/typings.d.ts
  .storybook/webpack.config.ts
  angular.json
  package.json
  projects/form-elements/package.json
  projects/form-elements/src/lib/f-button/f-button.stories.ts
  projects/form-elements/src/lib/f-checkbox/f-checkbox.stories.ts
  projects/form-elements/src/lib/f-column/f-column.stories.ts
  projects/form-elements/src/lib/f-date/f-date.stories.ts
  projects/form-elements/src/lib/f-email/f-email.stories.ts
  projects/form-elements/src/lib/f-form/f-form.stories.ts
  projects/form-elements/src/lib/f-input/f-input.stories.ts
  projects/form-elements/src/lib/f-password/f-password.stories.ts
  projects/form-elements/src/lib/f-phone/f-phone.stories.ts
  projects/form-elements/src/lib/f-radiobutton/f-radiobutton.stories.ts
  projects/form-elements/src/lib/f-row/f-row.stories.ts
  projects/form-elements/src/lib/f-select/f-select.stories.ts
  projects/form-elements/src/lib/f-text-area/f-text-area.stories.ts
  projects/form-elements/src/lib/f-time/f-time.stories.ts
  yarn.lock
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore: release v4.0.0
  CHANGELOG.md
  package.json
  projects/form-elements/package.json
Due: none

chore(package): pin faker dependencies to prevent upgrades
  package.json
  yarn.lock
Due: none

feat: upgrade to choices v10
  package.json
  projects/form-elements/package.json
  projects/form-elements/src/lib/f-select/f-select.component.ts
  projects/form-elements/src/lib/options.ts
  src/app/app.component.ts
  yarn.lock
Due: tslint --project src/tsconfig.app.json --fix, prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore: release v5.0.0
  CHANGELOG.md
  package.json
  projects/form-elements/package.json
Due: none

fix(f-password): use new icon prop type from font awesome
  projects/form-elements/src/lib/f-password/f-password.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(github): automate github labels
  .github/labels.yml
  .github/workflows/labels.yml
Due: none

Path conditions:
  tslint --project src/tsconfig.app.json --fix: any of: src/**/*.ts
  prettier --write: ((any of: src/**/*.ts) or (any of: projects/**/*.ts)) or (any of: {src,projects}/**/*.{scss,md,html})
  tslint --project projects/form-elements/tsconfig.lib.json --fix: any of: projects/**/*.ts
