Repository pascaliske/form-elements: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project src/tsconfig.app.json --fix, prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

.lintstagedrc:

{
  "src/**/*.ts": [
    "tslint --project src/tsconfig.app.json --fix",
    "prettier --write",
    "git add"
  ],
  "projects/**/*.ts": [
    "tslint --project projects/form-elements/tsconfig.lib.json --fix",
    "prettier --write",
    "git add"
  ],
  "{src,projects}/**/*.{scss,md,html}": [
    "prettier --write",
    "git add"
  ]
}

chore: use real package name for global package json
  package.json
Due: none

fix(f-select): update choices options on input change
  package.json
  projects/form-elements/ng-package.json
  projects/form-elements/ng-package.prod.json
  projects/form-elements/package.json
  projects/form-elements/src/lib/f-select/f-select.component.ts
  yarn.lock
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(package): upgrade dependencies
  package.json
  yarn.lock
Due: none

feat: upgrade angular to v10
  package.json
  projects/form-elements/package.json
  projects/form-elements/tsconfig.lib.json
  tsconfig.app.json
  tsconfig.base.json
  tsconfig.json
  tslint.json
  yarn.lock
Due: none

fix(f-date): prevent initialization of datepicker if field is disabled
  projects/form-elements/src/lib/f-date/f-date.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore: release v2.7.1
  CHANGELOG.md
  docs/iframe.html
  docs/index.html
  docs/main.15eee39a547c2735e59c.bundle.js
  docs/main.15eee39a547c2735e59c.bundle.js.map
  docs/main.afc4f0765e8e59f0aafa.bundle.js
  docs/main.d0b1d70523cee248a3f9.bundle.js
  docs/main.d0b1d70523cee248a3f9.bundle.js.map
  docs/runtime~main.15eee39a547c2735e59c.bundle.js
  docs/runtime~main.15eee39a547c2735e59c.bundle.js.map
  docs/runtime~main.d0b1d70523cee248a3f9.bundle.js.map
  docs/vendors~main.15eee39a547c2735e59c.bundle.js
  docs/vendors~main.15eee39a547c2735e59c.bundle.js.LICENSE.txt
  docs/vendors~main.15eee39a547c2735e59c.bundle.js.map
  docs/vendors~main.d0b1d70523cee248a3f9.bundle.js.map
  package.json
  projects/form-elements/package.json
Due: none

feat(f-checkbox): allow multi-line labels and fix invalid symbol color
  projects/form-elements/src/lib/f-checkbox/f-checkbox.component.html
  projects/form-elements/src/lib/f-checkbox/f-checkbox.component.scss
  projects/form-elements/src/lib/f-checkbox/f-checkbox.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

refactor: prefix stories for correct order
  projects/form-elements/src/lib/f-button/f-button.stories.ts
  projects/form-elements/src/lib/f-checkbox/f-checkbox.stories.ts
  projects/form-elements/src/lib/f-column/f-column.stories.ts
  projects/form-elements/src/lib/f-date/f-date.stories.ts
  projects/form-elements/src/lib/f-email/f-email.stories.ts
  projects/form-elements/src/lib/f-form/f-form.stories.ts
  projects/form-elements/src/lib/f-input/f-input.stories.ts
  projects/form-elements/src/lib/f-password/f-password.stories.ts
  projects/form-elements/src/lib/f-phone/f-phone.stories.ts
  projects/form-elements/src/lib/f-radiobutton/f-radiobutton.stories.ts
  projects/form-elements/src/lib/f-row/f-row.stories.ts
  projects/form-elements/src/lib/f-select/f-select.stories.ts
  projects/form-elements/src/lib/f-text-area/f-text-area.stories.ts
  projects/form-elements/src/lib/f-time/f-time.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

refactor: include focus-within selector as input line modifier
  projects/form-elements/src/lib/f-input/f-input.component.ts
  projects/form-elements/src/lib/shared.scss
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(tsconfig): reference base tsconfig for loading custom typings file
  tsconfig.json
Due: none

chore: release v2.7.2
  CHANGELOG.md
  docs/iframe.html
  docs/index.html
  docs/main.15eee39a547c2735e59c.bundle.js
  docs/main.15eee39a547c2735e59c.bundle.js.map
  docs/main.3e870394cef396acda5b.bundle.js
  docs/main.5db25cba7220e2ea8a1c.bundle.js
  docs/main.5db25cba7220e2ea8a1c.bundle.js.map
  docs/runtime~main.15eee39a547c2735e59c.bundle.js.map
  docs/runtime~main.5db25cba7220e2ea8a1c.bundle.js
  docs/runtime~main.5db25cba7220e2ea8a1c.bundle.js.map
  docs/vendors~main.15eee39a547c2735e59c.bundle.js
  docs/vendors~main.15eee39a547c2735e59c.bundle.js.map
  docs/vendors~main.5db25cba7220e2ea8a1c.bundle.js
  docs/vendors~main.5db25cba7220e2ea8a1c.bundle.js.LICENSE.txt
  docs/vendors~main.5db25cba7220e2ea8a1c.bundle.js.map
  docs/vendors~main.7e9f6f946f8073f8f863.bundle.js
  package.json
  projects/form-elements/package.json
Due: none

fix(f-checkbox): fix multi-line label styles
  projects/form-elements/src/lib/f-checkbox/f-checkbox.component.scss
Due: prettier --write

chore: release v2.7.3
  CHANGELOG.md
  docs/iframe.html
  docs/index.html
  docs/main.5db25cba7220e2ea8a1c.bundle.js
  docs/main.5db25cba7220e2ea8a1c.bundle.js.map
  docs/main.a466366b431b4d617461.bundle.js
  docs/main.c24ed6901da281e09fe7.bundle.js
  docs/main.c24ed6901da281e09fe7.bundle.js.map
  docs/runtime~main.5db25cba7220e2ea8a1c.bundle.js.map
  docs/runtime~main.c24ed6901da281e09fe7.bundle.js
  docs/runtime~main.c24ed6901da281e09fe7.bundle.js.map
  docs/vendors~main.5db25cba7220e2ea8a1c.bundle.js.map
  docs/vendors~main.c24ed6901da281e09fe7.bundle.js
  docs/vendors~main.c24ed6901da281e09fe7.bundle.js.LICENSE.txt
  docs/vendors~main.c24ed6901da281e09fe7.bundle.js.map
  package.json
  projects/form-elements/package.json
Due: none

fix(f-checkbox): add missing display block
  projects/form-elements/src/lib/f-checkbox/f-checkbox.component.scss
Due: prettier --write

chore: release v2.7.4
  CHANGELOG.md
  docs/iframe.html
  docs/index.html
  docs/main.8ca7f76eda105c575977.bundle.js
  docs/main.c24ed6901da281e09fe7.bundle.js
  docs/main.c24ed6901da281e09fe7.bundle.js.map
  docs/main.fd6ebeee5313709503d4.bundle.js
  docs/main.fd6ebeee5313709503d4.bundle.js.map
  docs/runtime~main.c24ed6901da281e09fe7.bundle.js.map
  docs/runtime~main.fd6ebeee5313709503d4.bundle.js
  docs/runtime~main.fd6ebeee5313709503d4.bundle.js.map
  docs/vendors~main.c24ed6901da281e09fe7.bundle.js.map
  docs/vendors~main.fd6ebeee5313709503d4.bundle.js
  docs/vendors~main.fd6ebeee5313709503d4.bundle.js.LICENSE.txt
  docs/vendors~main.fd6ebeee5313709503d4.bundle.js.map
  package.json
  projects/form-elements/package.json
Due: none

fix(f-checkbox): fix checkbox click action
  projects/form-elements/src/lib/f-checkbox/f-checkbox.component.html
Due: prettier --write

chore: release v2.7.5
  CHANGELOG.md
  docs/iframe.html
  docs/index.html
  docs/main.41f4fecc9e53007066de.bundle.js
  docs/main.e196a06639dc02465649.bundle.js
  docs/main.e196a06639dc02465649.bundle.js.map
  docs/main.fd6ebeee5313709503d4.bundle.js
  docs/main.fd6ebeee5313709503d4.bundle.js.map
  docs/runtime~main.e196a06639dc02465649.bundle.js
  docs/runtime~main.e196a06639dc02465649.bundle.js.map
  docs/runtime~main.fd6ebeee5313709503d4.bundle.js.map
  docs/vendors~main.e196a06639dc02465649.bundle.js
  docs/vendors~main.e196a06639dc02465649.bundle.js.LICENSE.txt
  docs/vendors~main.e196a06639dc02465649.bundle.js.map
  docs/vendors~main.fd6ebeee5313709503d4.bundle.js.map
  package.json
  projects/form-elements/package.json
Due: none

fix(f-row): use full width for fields on smaller viewports
  projects/form-elements/src/lib/f-row/f-row.component.scss
  projects/form-elements/src/lib/shared.scss
Due: prettier --write

fix(f-input): only emit unchanged value changes once
  projects/form-elements/src/lib/f-input/f-input.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore: update domain references
  README.md
  package.json
  projects/form-elements/package.json
Due: none

fix(scss): do not use highest layer for form controls
  projects/form-elements/src/lib/shared.scss
Due: prettier --write

fix(scss): fully disallow user interaction when disabled
  projects/form-elements/src/lib/shared.scss
Due: prettier --write

fix(f-input): use non-bubbling blur event for loosing focus
  projects/form-elements/src/lib/f-input/f-input.component.html
Due: prettier --write

feat: emit focus events as outputs of input fields
  projects/form-elements/src/lib/f-date/f-date.stories.ts
  projects/form-elements/src/lib/f-email/f-email.stories.ts
  projects/form-elements/src/lib/f-input/f-input.component.ts
  projects/form-elements/src/lib/f-input/f-input.stories.ts
  projects/form-elements/src/lib/f-password/f-password.stories.ts
  projects/form-elements/src/lib/f-phone/f-phone.stories.ts
  projects/form-elements/src/lib/f-text-area/f-text-area.stories.ts
  projects/form-elements/src/lib/f-time/f-time.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix: fix layering issue of select box
  projects/form-elements/src/lib/f-select/f-select.component.scss
  projects/form-elements/src/lib/shared.scss
Due: prettier --write

fix(f-input): allow preselecting option by value only
  projects/form-elements/src/lib/f-select/f-select.component.ts
  projects/form-elements/src/lib/f-select/f-select.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(deps): bump elliptic from 6.5.3 to 6.5.4
  yarn.lock
Due: none

chore(deps): bump y18n from 4.0.0 to 4.0.3
  yarn.lock
Due: none

chore(deps): bump elliptic from 6.5.3 to 6.5.4
  .husky/.gitignore
Due: none

chore(deps): bump y18n from 4.0.0 to 4.0.3
  .husky/.gitignore
Due: none
