Repository pascaliske/form-elements: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project src/tsconfig.app.json --fix, prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore: release v2.4.5
  CHANGELOG.md
  package.json
  projects/form-elements/package.json
Due: none

chore(package): fix build scripts for ci
  .travis.yml
  package.json
Due: none

chore(package): upgrade dependencies
  package.json
  yarn.lock
Due: none

chore(travis): update slack notifications
  .travis.yml
Due: none

chore(package): add choices library for advanced select fields
  .storybook/preview.ts
  README.md
  package.json
  projects/form-elements/package.json
  src/scss/styles.scss
  yarn.lock
Due: prettier --write

refactor: rename module options to prevent naming collision with option inputs
  projects/form-elements/src/exports.ts
  projects/form-elements/src/lib/f-date/f-date.component.ts
  projects/form-elements/src/lib/f-email/f-email.component.ts
  projects/form-elements/src/lib/f-time/f-time.component.ts
  projects/form-elements/src/lib/form-elements.module.ts
  projects/form-elements/src/lib/options.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(f-input): allow correctly overriding field classes
  projects/form-elements/src/lib/f-input/f-input.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(f-input): prevent form elements without form control instances
  projects/form-elements/src/lib/f-input/f-input.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

feat(f-select): implement choices library for advanced select fields
  projects/form-elements/src/lib/f-select/f-select.component.html
  projects/form-elements/src/lib/f-select/f-select.component.scss
  projects/form-elements/src/lib/f-select/f-select.component.ts
  projects/form-elements/src/lib/f-select/f-select.stories.ts
  projects/form-elements/src/lib/options.ts
  projects/form-elements/src/lib/shared.scss
  src/app/app.module.ts
Due: tslint --project src/tsconfig.app.json --fix, prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(prettier): use shared prettier config
  .prettierignore
  .prettierrc
  form-elements.code-workspace
  package.json
  yarn.lock
Due: none

chore(lintstaged): fix project config file path
  .lintstagedrc
Due: none

fix(demo): add ids to buttons
  src/app/app.component.html
  src/app/app.module.ts
Due: tslint --project src/tsconfig.app.json --fix, prettier --write

feat(form-elements): prevent re-importing library module
  projects/form-elements/src/lib/form-elements.module.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

refactor(f-select): clean-up method visibility
  projects/form-elements/src/lib/f-select/f-select.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(f-date): trigger focus change on flatpickr instance open/close events
  projects/form-elements/src/lib/f-date/f-date.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(f-error): use lower case validation type
  projects/form-elements/src/lib/f-error/f-error.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(f-select): mark form control as touched on first dropdown close
  projects/form-elements/src/lib/f-select/f-select.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

feat(f-select): add required validation story
  projects/form-elements/src/lib/f-select/f-select.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(f-input): fix validation typings
  projects/form-elements/src/lib/f-input/f-input.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(ng-packagr): add choices global id
  projects/form-elements/ng-package.json
  projects/form-elements/ng-package.prod.json
Due: none

fix: use explicit type imports to prevent storybook warnings
  projects/form-elements/src/lib/f-button/f-button.component.ts
  projects/form-elements/src/lib/f-date/f-date.component.ts
  projects/form-elements/src/lib/f-email/f-email.component.ts
  projects/form-elements/src/lib/f-select/f-select.component.ts
  projects/form-elements/src/lib/f-time/f-time.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(f-select): fix dropdown list styles
  projects/form-elements/src/lib/f-select/f-select.component.scss
Due: prettier --write

fix(form-elements): remove module import check
  projects/form-elements/src/lib/form-elements.module.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

docs(f-select): implement realistic fake data for dropdown values
  package.json
  projects/form-elements/src/lib/f-select/f-select.stories.ts
  yarn.lock
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

chore(travis): update deploy api key
  .travis.yml
Due: none

chore: release v2.5.1
  CHANGELOG.md
  docs/index.html
  docs/main.531e32661c1fe4a070a3.bundle.js
  package.json
  projects/form-elements/package.json
Due: none

feat: add changed output events for all form fields
  projects/form-elements/src/lib/f-checkbox/f-checkbox.stories.ts
  projects/form-elements/src/lib/f-date/f-date.component.ts
  projects/form-elements/src/lib/f-date/f-date.stories.ts
  projects/form-elements/src/lib/f-email/f-email.component.html
  projects/form-elements/src/lib/f-email/f-email.stories.ts
  projects/form-elements/src/lib/f-input/f-input.component.ts
  projects/form-elements/src/lib/f-input/f-input.stories.ts
  projects/form-elements/src/lib/f-password/f-password.stories.ts
  projects/form-elements/src/lib/f-phone/f-phone.stories.ts
  projects/form-elements/src/lib/f-select/f-select.component.ts
  projects/form-elements/src/lib/f-select/f-select.stories.ts
  projects/form-elements/src/lib/f-text-area/f-text-area.stories.ts
  projects/form-elements/src/lib/f-time/f-time.component.ts
  projects/form-elements/src/lib/f-time/f-time.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(f-email): optimize email domain suggestions
  projects/form-elements/src/lib/f-email/f-email.component.html
  projects/form-elements/src/lib/f-email/f-email.component.scss
  projects/form-elements/src/lib/f-email/f-email.component.ts
  projects/form-elements/src/lib/shared.scss
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

feat(f-date,f-time): add disabled stories
  projects/form-elements/src/lib/f-date/f-date.stories.ts
  projects/form-elements/src/lib/f-time/f-time.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

refactor(f-radiobutton): optimize radio buttons
  projects/form-elements/src/lib/f-radiobutton/f-radiobutton.component.html
  projects/form-elements/src/lib/f-radiobutton/f-radiobutton.component.scss
  projects/form-elements/src/lib/f-radiobutton/f-radiobutton.component.ts
  projects/form-elements/src/lib/f-radiobutton/f-radiobutton.stories.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

refactor(f-select): optimize dropdown arrow
  projects/form-elements/src/lib/f-select/f-select.component.html
  projects/form-elements/src/lib/f-select/f-select.component.scss
Due: prettier --write

fix(scss): properly align input line
  projects/form-elements/src/lib/shared.scss
Due: prettier --write

fix(f-password): disable visibility toggle on input disable
  projects/form-elements/src/lib/f-password/f-password.component.scss
  projects/form-elements/src/lib/f-password/f-password.component.ts
Due: prettier --write, tslint --project projects/form-elements/tsconfig.lib.json --fix

fix(scss): disallow user selection if input is disabled
  projects/form-elements/src/lib/shared.scss
Due: prettier --write

chore(github): add code owners file
  .github/CODEOWNERS
Due: none

docs(readme): update 3rd party note in readme
  README.md
Due: none

Path conditions:
  tslint --project src/tsconfig.app.json --fix: any of: src/**/*.ts
  prettier --write: ((any of: src/**/*.ts) or (any of: projects/**/*.ts)) or (any of: {src,projects}/**/*.{scss,md,html})
  tslint --project projects/form-elements/tsconfig.lib.json --fix: any of: projects/**/*.ts
